# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
mongodb-data/
# Test binary, built with `go test -c`
*.test
dump.rdb
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/bin
# Dependency directories (remove the comment below to include it)
# vendor/

cache/
log/
.idea/
vendor/